@import '@styles/vars';

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 2.8rem;
  }

  &__input {
    width: 100%;
    margin-bottom: 134px;
  }

  &__delete-text {
    font-weight: 500;
    font-size: 2.4rem;
    color: $color-dark-grey;
  }

  &__modal-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  &__video-info {
    padding: 0px 20px;
    overflow: auto;
  }

  &__video-name {
    font-weight: 500;
    font-size: 2.4rem;
    color: $color-dark-grey;
    margin: 12px 0px;
  }

  &__video-description {
    font-weight: 400;
    font-size: 2.1rem;
    color: $color-dark-grey;
    padding: 0px 12px;
  }
}

@media (min-width: 1024px) {
  .Home {
    &__modal-container {
      grid-template-columns: 2fr 3fr;
    }
  }
}
