// Colors
$background: #f5f5f5;
$color-white: white;
$color-black: black;
$color-ligth-grey: #929293;
$color-red: red;
$color-dark-grey: #3c3e41;

$color-primary-blue: #136ae4;
$color-primary-white: #fbfbfb;
